<h1>Edit Event Info:</h1>
<%= form_with model: @event do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :description %>
  <%= form.text_area :description, size:"80x4"%>
  <br>
  <%= form.label :date %>
  <%= form.date_field :date %>
  <br>
  <%= form.submit %>
<% end %>
