<%= render "event_main_info", event: @event %>
<% if @event.event_bookings.invited_users.any? %>
  <h3>Invited Users:</h3>
  <ul>
    <% @event.event_bookings.invited_users.each do |event_attendee| %>
      <li><%= event_attendee.user.email %> - <%= link_to "Show User", user_url(event_attendee.user) %>
        <% if current_user == event_attendee.user || current_user == @event.creator %>
          - <%= link_to "Remove", event_booking_url(event_attendee), data: {turbo_method: :delete} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @event.event_bookings.attending_users.any? %>
  <h3>Attendees:</h3>
  <ul>
    <% @event.event_bookings.attending_users.each do |event_attendee| %>
      <li><%= event_attendee.user.email %> - <%= link_to "Show User", user_url(event_attendee.user) %>
        <% if current_user == event_attendee.user || current_user == @event.creator %>
          - <%= link_to "Remove", event_booking_url(event_attendee), data: {turbo_method: :delete} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @event.creator == current_user %>
  <h3>Invite User:</h3>
  <%= form_with model: @event.event_bookings.build do |form| %>
    <%= form.collection_select :user_id, @event.unbooked_users, :id, :email, prompt: true %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :status, value: 'Invited' %>
    <%= form.submit 'Invite user' %>
  <% end %>
<% end %>
<div class="event-action-links">
  <% if user_signed_in? && @event.user_can_attend?(current_user) %>
    <%= link_to "Attend Event", event_bookings_path(event_booking: { event_id: @event.id, user_id: current_user.id, status: 'Attending'} ), data: { turbo_method: :post }, class: 'link-button' %>
  <% end%>
  <% if current_user == @event.creator %>
    <%= link_to "Edit Event", edit_event_url(@event), class: 'link-button' %>
    <%= link_to "Delete Event", event_url(@event), data: { turbo_method: :delete }, class: 'link-button' %>
  <% end%>
</div>
